* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

p {
  font-family: "Roboto";
  font-weight: 300;
}

ul,
li {
  list-style: none;
}

a,
button,
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container {
  width: 1166px;
  margin: 0 auto;
}

.block-button {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  height: 106px;
  justify-content: space-between;
}

.logo {
  padding: 17px;
}

.logo-image {
}

.header-work {
  display: flex;
  flex-wrap: wrap;
  width: 375px;
}

.work-text {
  font-family: "Clear Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3a4047;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
}

.work-time {
  font-family: "Clear Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #3a4047;
}

.header-contacts {
}

.person-contacts {
  display: flex;
  padding-top: 25px;
}

.logo-image-icon {
  padding: 10px;
}

.person-contacts-txt {
  font-family: "Clear Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #3a4047;
  padding-right: 20px;
  padding-left: 1px;
}

.header-phone {
  padding-left: 110px;
  padding-top: 10px;
}

.header-phone:hover .header-phone-block {
  display: block;
}

.header-phone-block {
  display: none;
}

.header-phone-input {
}

.card {
  padding-top: 36px;
}

.card-image-icon {
  fill: #3a4047;
}

.navigation {
  height: 57px;
  /* position: relative; */
}

.navigation-block {
  display: flex;
}

.navigation-list {
  border: 1px solid #e8edf2;
  height: 56px;
  padding-top: 18px;
}

.navigation-list-txt {
  font-family: "Clear Sans";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #3a4047;
}

.title-section {
  background-image: url("../image/Rectangle.jpg");
  width: 100%;
  height: 500px;
  margin-bottom: 29px;
}

.title {
  padding-top: 153px;
  padding-bottom: 25px;
  font-family: "Clear Sans", sans-serif;
  font-size: 57px;
  line-height: 67px;
  text-align: center;
  color: #ffffff;
}

.title-text {
  font-family: "Clear Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 25px;
}

.title-button {
  width: 200px;
  height: 48px;
  background: #1ab0ce;
  border-radius: 2px;
  border: #1ab0ce solid 1px;
  color: #ffffff;
}

.title-button-txt {
  font-family: "Clear Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.button-phone {
  margin-right: 230px;

  width: 108px;
  height: 108px;
  background-color: #1ab0ce;
  border-radius: 60px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
}

.top-button {
  margin-top: 100px;
}

.down-button {
}

.image-phone-svg {
  margin-bottom: 10px;
  margin-top: 5px;
}

.button-phone-text {
  padding-top: 10px;
  font-family: "Clear Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.production {
}

.production-title {
  text-align: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #3a4047;
  padding-bottom: 40px;
}

.production-form {
  display: flex;
  justify-content: space-around;
}

.production-block {
  display: flex;
  width: 370px;
  height: 291px;
  border: 1px solid #dce1e6;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.production-icon-page {
  margin-top: 25px;
  background-image: url("../image/icons/blank-page.svg");
  width: 52px;
  height: 62px;
}

.production-icon-road {
  margin-top: 25px;
  background-image: url("../image/icons/road-map.svg");
  width: 62px;
  height: 62px;
}

.production-icon-book {
  margin-top: 25px;
  background-image: url("../image/icons/e-reader.svg");
  width: 45px;
  height: 62px;
}

.production-block-txt {
  width: 219px;
  height: 200px;
  padding-right: 121px;
  padding-top: 29px;
  padding-bottom: 26px;
}

.production-section {
  font-family: "Clear Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #3a4047;
  padding-bottom: 24px;
  text-align: start;
}

.production-input {
  font-family: "Clear Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #3a4047;
}

.AboutCompany {
}

.AboutCompany-title {
  font-family: "Clear Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #3a4047;
  padding-bottom: 13px;
  margin-top: 20px;
}

.AboutCompany-text {
  font-family: "Clear Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #3a4047;
  padding-bottom: 34px;
}

.AboutCompany-txt {
  font-family: "Clear Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  color: #3a4047;
}

.news {
}

.news-title {
  font-family: "Clear Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #3a4047;
  padding: 45px;
}

.news-block {
  display: flex;
}

.news-input {
  width: 398px;
  height: 170px;
}

.news-data {
  font-family: "Clear Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 14px;
  text-align: center;
  color: #bec7d1;
}

.news-text {
  font-family: "Clear Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3a4047;
}

.news-btn {
  width: 190px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #1ab0ce;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 49px;
  color: #1ab0ce;
}

.logo-txt {
}

.footer {
  height: 159px;
  background-color: #f7f7f7;
}
.footer-block {
  display: flex;
  padding: 15px;
}

.footer-work {
  width: 265px;
}

.footer-menu {
  display: flex;
}
.footer-menu-block {
  padding-top: 32px;
  width: 125px;
  margin-right: 15px;
}

.footer-menu-input {
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  text-decoration-line: underline;
  color: #3a4047;
  padding-bottom: 5px;
}

.footer-contact {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
}
